{%  extends './base.html '%}


{% block header %}
<header style="padding-bottom: 0rem" class="bg-white shadow py-4">
    <div class="container mx-auto flex justify-between items-center">
      <!-- Logo y Nombre -->
      <div class="flex items-left space-x-0">
        <img src="../static/styles/FidebankLogo.png" alt="Fidebank Logo" class="h-12 w-auto" />
        <h3 style="line-height: 5rem; font-size: 1.5rem; color: rgb(248 8 8);" class="font-semibold ml-4">
          
        </h3>
      </div>
  
      <!-- Menú de navegación -->
      <nav>
        <ul class="flex space-x-6">
            <li>
                <a href="{{ url_for('home') }}" class="text-black hover:text-red-600">
                    <i class="fas fa-home"></i> Inicio
                </a>
            </li>
            <li>
                <a href="{{ url_for('cuentas') }}" class="text-black hover:text-red-600">
                    <i class="fas fa-wallet"></i> Cuentas
                </a>
            </li>
            <li>
                <a href="{{ url_for('transferir') }}" class="text-black hover:text-red-600">
                    <i class="fas fa-exchange-alt"></i> Transferencias
                </a>
            </li>
            <li>
                <a href="{{ url_for('actividad') }}" class="text-black hover:text-red-600">
                    <i class="fas fa-list-alt"></i> Movimientos
                </a>
            </li>
            <li>
                <a href="{{ url_for('acerca_de') }}" class="text-black hover:text-red-600">
                    <i class="fas fa-info-circle"></i> Acerca de Nosotros
                </a>
            </li>
        </ul>
    </nav>
    
  
      <!-- Botón de Logout -->
      <a class="bg-red-500 text-white font-bold py-2 px-4 rounded hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50" 
         href="{{ url_for('logout') }}">
        Logout
      </a>
    </div>
  </header>
  
{% endblock %}

{% block body%}

<div>
    <hi>Pagina de solicitar cuenta</hi>
</div>

{% endblock%}