{% extends 'base.html' %}
{% block header %}
<header style="padding-bottom: 0rem" class="bg-white shadow py-4">
    <div class="container mx-auto flex justify-between items-center">
      <!-- Logo y Nombre -->
      <div class="flex items-left space-x-0">
        <img src="../static/styles/FidebankLogo.png" alt="Fidebank Logo" class="h-12 w-auto" />
        <h3 style="line-height: 5rem; font-size: 1.5rem; color: rgb(248 8 8);" class="font-semibold ml-4">
          
        </h3>
      </div>
  
      <!-- Menú de navegación -->
      <nav>
        <ul class="flex space-x-6">
          <li><a href="{{ url_for('home') }}" class="text-black hover:text-red-600">Inicio</a></li>
          <li><a href="{{ url_for('cuentas') }}" class="text-black hover:text-red-600">Todas tus Cuentas</a></li>
    <!-- <li><a href="create_user.html" class="text-black hover:text-red-600">Create User</a></li> -->
          <li><a href="{{ url_for('transferir') }}" class="text-black hover:text-red-600">Transferencias</a></li>
          <li><a href="{{ url_for('actividad') }}"  class="text-black hover:text-red-600">Movimientos</a></li>
          <li><a href="{{ url_for('soporte') }}"  class="text-black hover:text-red-600">Acerca de Nosotros</a></li>
    <!--  <li><a href="contact.html" class="text-black hover:text-red-600">Contact</a></li> -->
        </ul>
      </nav>
  
      <!-- Botón de Logout -->
      <a class="bg-red-500 text-white font-bold py-2 px-4 rounded hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50" 
         href="{{ url_for('logout') }}">
        Logout
      </a>
    </div>
  </header>
  
{% endblock %}
{% block content %}
<h1>CONTACT ME</h1>
<div class="contact">
    <div class="contactcontanner">
        <div class="contanner">
            <div class="heading">
                <div class="icon"><i class="far fa-map"></i></div>
                <div class="info">
                    <p>Address : </p>
                    <p id="contactinfo">The Hangar, Nus Enterprise 21 Heng Mui Keng Terrance, Singapore, 119613</p>
                </div>
            </div>

            <div class="heading">
                <div class="icon"><i class="fas fa-phone-alt"></i></div>
                <div class="info">
                    <p>Phone : </p>
                    <p id="contactinfo">+65-8402-8590</p>
                </div>
            </div>

            <div class="heading">
                <div class="icon"><i class="far fa-envelope"></i></div>
                <div class="info">
                    <p>Email : </p>
                    <p id="contactinfo">info@thesparksfoundation.sg</p>
                </div>
            </div>
        </div>

        <div class="messageform">
            <div class="form">
                <form method="POST">
                    <input type="text" name="name" placeholder="NAME" required>
                    <input type="email" name="email" placeholder="EMAIL" required>
                    <input type="text" name="subject" placeholder="SUBJECT" required>
                    <textarea name="message" id="inputbox" cols="30" rows="5" placeholder="MESSAGE" required></textarea>
                    <button type="submit">SEND MESSAGE</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}